# USB class drivers configuration
# This will be populated by gentree.py from upstream kernel

comment "USB class drivers"
	depends on BACKPORT_LINUX && USB

config CPTCFG_USB_WDM
	tristate "USB Wireless Device Management support"
	depends on BACKPORT_LINUX
	depends on USB
	select BACKPORT_COMPAT
	help
	  This driver supports the WMC Device Management functionality
	  of cell phones compliant to the CDC WMC specification. You can use
	  AT commands over this device.

	  To compile this driver as a module, choose M here: the
	  module will be called cdc-wdm.
