# this has the configuration for the backport code
source "backports/compat/Kconfig"

# these are copied from the kernel
source "backports/net/wireless/Kconfig"
source "backports/net/mac80211/Kconfig"
source "backports/drivers/net/wireless/Kconfig"
source "backports/drivers/net/usb/Kconfig"

source "backports/drivers/ssb/Kconfig"
source "backports/drivers/bcma/Kconfig"

source "backports/drivers/usb/class/Kconfig"

source "backports/drivers/staging/Kconfig"
